<div class="container-fluid p-0">
  <div class="head-style-wrapper">
      <div class="col-sm-12 col-md-8 mx-auto">
        <div class="row">
          <div class="col-sm-12 col-md-5">
            <div class="col-md-12 p-0 md-pm">
              <select class="form-control" name="" id="">
                <option hidden>Sort</option>
                <option value="asc_name">Name (A - Z)</option>
                <option value="desc_name">Name (Z - A)</option>
                <option value="asc_rank">Rank ↑</option>
                <option value="desc_rank">Rank ↓</option>
              </select>
            </div>
          </div>
          <div class="col-sm-12 col-md-7">
            <div class="col-md-10 ml-auto p-0 md-pm search-group">
              <input type="text" class="form-control" name="" id="">
              <i class="material-icons">search</i>
            </div>
          </div>
        </div>
      </div>
  </div>
  
</div>