
.head-style-wrapper{
    background:#1d67a5;
    padding:16px 0;

    .search-group{
        position:relative;
        input{
            padding:0 40px 0 16px;
        }
        i{
            position: absolute;
            top:22%;
            right:22px;
        }
    }
}

@media(max-width:768px){
    
}