<!-- BASIC SETUP-->
<header></header>
<div class="container-fluid p-0">
    <div class="gituser-style-wrapper">
        <div class="col-sm-12 col-md-8 mx-auto">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <b>Total users : 260</b>
                    </p>
                </div>
                <div class="col-md-12">
                    <gituser-card></gituser-card>
                </div>

            </div>
        </div>
    </div>
</div>