<!-- BASIC SETUP-->
<header (searchQuery)="searchQuery($event)" (sorter)="sortOrder($event)"></header>
<div class="container-fluid p-0">
    <div class="gituser-style-wrapper">
        <div class="col-sm-12 col-md-8 mx-auto">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <b>Total users : {{totalCount}}</b>
                    </p>
                </div>
                <div class="col-md-12">
                    <div class="card-component-container" *ngFor="let item of items">
                        <gituser-card [item]="item"></gituser-card>
                    </div>

                    <div class="pagination">
                        <ngb-pagination [collectionSize]="totalCount" [pageSize]="3" (pageChange)="changePage($event)" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="false"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>