<div class="card-wrapper" *ngIf="item && item.repos.length">
  <div class="card-container">
    <div class="collapsed-card">
      <!-- user avatar section start -->
      <div class="user-avatar">
        <div class="avatar-holder">
          <img [src]="item.avatar_url" alt="" class="img-responsive">
        </div>
      </div>
      <!-- user avatar section end -->
      <!-- user basic info start -->
      <div class="user-info">
        <p class="user-name">{{item.login}}</p>
        <div class="basic-profile-info">
          <p class="profile-url">{{item.url}}</p>
          <div class="user-repos">
            <div class="sample">
              <p>Repository 1 : {{item?.repos[0]?.name}}</p>
              <p>Repository 2 : {{item?.repos[1]?.name}}</p>
            </div>
            <div class="collapsed">
              <button type="button" class="btn btn-outline-primary" (click)="collapse = !collapse">{{collapse ? 'Collapse' : 'Details'}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- user basic info end -->
  </div>
  
  <div class="collapsible-table" *ngIf="collapse">
    <div class="table-layout" (click)="showSlide = i" *ngFor="let repo of item.repos;let i = index">
      <div class="repo-name">
        {{repo.name}}
      </div>
      <div class="repo-name">
        {{repo.language}}
      </div>
      <!-- click on the repos to show this additional details-->
      <div class="additional-info" [ngClass]="{'active': showSlide === i}">
        <div class="add-i">watcher : {{repo.watchers}}</div>
        <div class="add-i">Forked : {{repo.forks}}</div>
        <div class="add-i">Open Issues : {{repo.open_issues}}</div>
      </div>
    </div>
    
  </div>
</div>
