
.card-wrapper{
    -webkit-box-shadow: 0px 0px 7px 0px #6464642e;
            box-shadow: 0px 0px 7px 0px #6464642e;
    border-radius: 5px;
    .card-container {
        background: #fafafa;
        padding: 16px;
        border-radius: 5px;
        border-bottom:1px solid #6464642e;
        position: relative;
        .collapsed-card {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              word-break: break-all;
              .user-avatar {
                  width: 140px;
                  .avatar-holder {
                      width: 100px;
                      img {
                      border-radius: 50%;
                      }
                  }
              }
      
              .user-info {
                  width: 100%;
                  .user-name {
                      font-size: 24px;
                      font-weight: 600;
                  }
      
                  .basic-profile-info {
                      .user-repos {
                          display: -webkit-box;
                          display: -ms-flexbox;
                          display: flex;
                          -webkit-box-pack: justify;
                              -ms-flex-pack: justify;
                                  justify-content: space-between;
                          -webkit-box-align: center;
                              -ms-flex-align: center;
                                  align-items: center;
      
                          .sample {
                              p {
                                  margin: 0;
                              }
                          }
                      }
      
                      p {
                          color: #646464;
                          font-size: 12px;
                          font-weight: 500;
                          word-break: break-word;
                      }
                  }
              }
        }
      
      }
      
      
      .collapsible-table{
          background:#fafafa;
          max-height:300px;
          overflow: auto;
        .table-layout {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;           
            padding:16px 0;
            .repo-name{
                width:50%;
                text-align: center;
                word-break: break-all;
                padding: 0 11px;
            }
            &:nth-child(even){
                background-color: #eeeeee;
            }
        }

        .additional-info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin: 0 auto;
            font-size: 10px;
            max-height: 0;
            overflow: hidden;
            -webkit-transition: max-height ease-in-out 0.4s;
            -o-transition: max-height ease-in-out 0.4s;
            transition: max-height ease-in-out 0.4s;
            .add-i{
                margin:0 5px;
            }
        }

        .additional-info.active{
            max-height:80px;
        }
      }
}


@media(max-width:455px){
    .user-avatar{
        width: 90px !important;
        margin-right: 10px;
        .avatar-holder{
            width: 90px !important;
        }
    }
    .user-repos{
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
        .sample{
            width:100%;
        }
        .collapsed{
            margin: 10px 0;
            width:100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
        }
    }
}