/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
*{
    font-family: Lato;
}

.md-pm{
    padding:0 16px !important;
    margin:5px 0;
}

.img-responsive{
    width:100%;
}


//scroll bar styling

::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #1d67a5; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #11548aa9; 
  }